@ViewData["Title"] = "Home Page - Razor experience";

@{
    List<string> listaDeNomes = new List<string>(){"Edson", "Sílvia", "Francisco", "Antônio"};
    DateTime hoje = DateTime.Today;
}

<div class="text-center">
    <h1 class="display-4">Welcome - Hoje é o dia @hoje </h1>
    <p>Temos aqui uma lista de nomes.</p>
    <ul>
        @{
            foreach(string nome in listaDeNomes){
                <li> @nome </li>
            }
        }                
    </ul>
</div>
